
<div id="controler">
   <div class="contentspan">

<a id="playAudio" data-icon="4" class="buts font-icons-bef"><span>Play</span></a>
<a id="pause" data-icon="5" class="buts font-icons-bef"><span>Pause</span></a>
<a id="stop" data-icon="6" class="btn font-icons-bef"><span>Stop</span></a>

<a id="findPhotos" class="btn btn-large">Find 500px photos</a>

</div></div>


<p>Recording started <%= common.formatDateTime( startTime ) %> and ended <%=  common.formatDateTime(  endTime ) %> for a duration of <%= endTime - startTime %></p>

<ul class="photos">
<% _.each(photos, function(curPhoto){ %>
	
		<li>
		
		<div id="previewImage">
	
		<img src="<%= curPhoto.get('localUrl') %>"/>  
		</div>
		</li>
	

<% }); %>
</ul>