#stopRecord, #takePhoto, #play{
	display: none;
}




@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('lib/modern-pictograms/modernpics-webfont.eot');
    src: url('lib/modern-pictograms/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('lib/modern-pictograms/modernpics-webfont.woff') format('woff'),
         url('lib/modern-pictograms/modernpics-webfont.ttf') format('truetype'),
         url('lib/modern-pictograms/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'Pictos';
	src: url('../../fonts/pictos/pictos-web.eot');
	src: local('☺'), url('../../fonts/pictos/pictos-web.woff') format('woff'), url('../../fonts/pictos/pictos-web.ttf') format('truetype'), url('../../fonts/pictos/pictos-web.svg#webfontIyfZbseF') format('svg');
	font-weight: normal;
	font-style: normal;
}




body {
	background: rgb(69,72,77);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(39,42,47,1) 0%,rgba(0,0,0,1) 130%);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}
	
html {  height: 100%;}

#header{
	padding:5px 5px;
	margin: 0 15px 10px 15px;
border-bottom: 1px solid #222;
   }	
	
	
	a.head-back{
		color: #444;
		padding: 10px 0;
		display: inline-block;
		text-decoration: none;
		letter-spacing: 0.1em;
	}	
	
	
#mainNavigation {
list-style: none outside;
margin: 0; padding: 0 30px;
overflow: auto;

width: 100%;
position: absolute;
box-sizing: border-box;
top:15%;
}

#mainNavigation li {

box-sizing: border-box;
text-align: center;
display: block;


}


#startRecording::before{

font-size: 15em;
line-height: 1em;
}


#startRecording span{
display: block;
font-size: 1.5em;
}


#startRecording {
text-decoration: none;
display: block;
}



#viewRecordings {
	padding: 10px 20px 20px 20px;
	display: block;
cursor: pointer;
margin-top: 10px;
text-decoration: none;
}


#viewRecordings::before {
font-size: 1em; margin-right: 5px;
}






#viewSettings {
	position: absolute;
	bottom: 0%; right: 0%;
text-decoration: none;
color: #333;
cursor: pointer;
text-shadow: 1px 1px 0px #111;
	padding: 20px 5px 5px 20px;}







.font-icons-bef::before, .font-icons-aft::after {
content:attr(data-icon);
font-family:pictos;
line-height:0;
margin:0;
speak:none;
font-size: 2em;
}

.font-icons-bef span, .font-icons-aft span{
display: none;
}
