
@font-face {
	font-family: 'Pictos';
	src: url('../fonts/pictos/pictos-web.eot');
	src: local('☺'), url('../fonts/pictos/pictos-web.woff') format('woff'), url('../fonts/pictos/pictos-web.ttf') format('truetype'), url('../fonts/pictos/pictos-web.svg#webfontIyfZbseF') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	background: rgb(69,72,77);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(39,42,47,1) 0%,rgba(0,0,0,1) 130%);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	}
	
html {  height: 100%; overflow: hidden;
}


/* Header Navigation */


#header {
border-bottom:1px solid #222;
margin:0 15px 10px;
padding:5px;
}

a.head-back {
color:#555;
display:inline-block;
text-decoration:none;
letter-spacing:.1em;
padding:10px 0;
}





	
/*Home Page*/	
	
	
#mainNavigation {
list-style:none outside;
overflow:auto;
width:100%;
position:absolute;
box-sizing:border-box;
top:15%;
margin:0;
padding:0 30px;
}

#mainNavigation li {
box-sizing:border-box;
text-align:center;
display:block;
}

#startRecording::before {
font-size:15em;
line-height:1em;
}

#startRecording span {
display:block;
letter-spacing:.1em;
font-size:1.5em;
}

#startRecording {
text-decoration:none;
display:block;
}

#viewRecordings {
display:block;
cursor:pointer;
margin-top:10px;
text-decoration:none;
letter-spacing:.1em;
padding:10px 20px 20px;
}

#viewRecordings::before {
font-size:1em;
margin-right:5px;
}

#viewSettings {
position:absolute;
bottom:0;
right:0;
text-decoration:none;
color:#333;
cursor:pointer;
text-shadow:1px 1px 0 #111;
padding:20px 5px 5px 20px;
}







/*Record Lists*/

#records-list{
	list-style: none outside;
	margin: 0; padding: 0 15px;
}


#records-list li{
border: 1px solid #333;
width: 32%;
float: left;
margin-right: 2%;
box-sizing: border-box;
height: 100px;
margin-bottom: 2%;
overflow: hidden;
position: relative;
}


#records-list li img{
max-width: auto!important;
position: absolute;
top: 0px; left: 0;
height: 100%;
}


#records-list li:nth-child(3n){margin-right: 0;}


li .name{
	margin: 10px 0;
	font-size: 30px;
}




/*Recording */


#previewImage{
max-height: 50%;
max-width: 50%;

	position: absolute;
	top: 50px!important;
}


#controler{
	position: absolute;
	bottom: 0px;
	z-index: 100;
	text-align: center;
	width: 100%;
}




/*General Classes*/

#stopRecord, #takePhoto, #play{
	display: none;
}




.font-icons-bef::before, .font-icons-aft::after {
content:attr(data-icon);
font-family:pictos;
line-height:0;
margin:0;
speak:none;
font-size: 2em;
}

.font-icons-bef span, .font-icons-aft span{
display: none;
}


