
@font-face {
	font-family: 'Pictos';
	src: url('../fonts/pictos/pictos-web.eot');
	src: local('☺'), url('../fonts/pictos/pictos-web.woff') format('woff'), url('../fonts/pictos/pictos-web.ttf') format('truetype'), url('../fonts/pictos/pictos-web.svg#webfontIyfZbseF') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	background: rgb(69,72,77);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(256,256,256,1) 0%,rgba(236,236,236,1) 130%);

	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	}
	
html {  overflow: hidden;
}


/* Header Navigation */


#header {
position: absolute;
top: 0;
width: 100%;
padding: 0 15px;
box-sizing: border-box;
}


#header .contentspan{
border-bottom: 1px solid #ddd;
width: 100%;
margin: 0;
overflow: auto;
}

a.head-back {
color:#555;
display:inline-block;
text-decoration:none;
letter-spacing:.1em;
padding:10px 0;
}





	
/*Home Page*/	
	
	
#mainNavigation {
list-style:none outside;
overflow:auto;
width:100%;
position:absolute;
box-sizing:border-box;
top:15%;
margin:0;
padding:0 30px;
}

#mainNavigation li {
box-sizing:border-box;
text-align:center;
display:block;
}

#startRecording::before {
font-size:15em;
line-height:1em;
}

#startRecording span {
display:block;
letter-spacing:.1em;
font-size:1.5em;
}

#startRecording {
text-decoration:none;
display:block;

}

#viewRecordings {
display:block;
cursor:pointer;
margin-top:10px;
text-decoration:none;
letter-spacing:.1em;
padding:10px 20px 20px;
}

#viewRecordings::before {
font-size:1em;
margin-right:5px;
}

#viewSettings {
position:fixed;
bottom:0;
right:0;
text-decoration:none;
color:#aaa;
cursor:pointer;
text-shadow:1px 1px 0 #fff;
padding:20px 5px 5px 20px;
}







/*Record Lists*/

#records-list{
position: absolute;
top: 50px!important;
	list-style: none outside;
	margin: 0; padding: 0 15px;
}


#records-list li{
border: 1px solid #ddd;
width: 32%;
float: left;
margin-right: 2%;
box-sizing: border-box;
height: 100px;
margin-bottom: 2%;
overflow: hidden;
position: relative;
}


#records-list li img{
max-width: auto!important;
position: absolute;
top: 0px; left: 0;

min-width: 100%;
}


#records-list li:nth-child(3n){margin-right: 0;}


li .name{
	margin: 10px 0;
	font-size: 30px;
}




/*Recording */


#previewImage {
	position: absolute;
	top: 50px!important;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;

	height: 75%;

}

#previewImage img {
	max-width: 100%;
	max-height: 100%;
	padding: 0;margin: 0;
}




#controler {
position: fixed;
bottom: 0;
width: 100%;
padding: 0 15px;
box-sizing: border-box;
z-index: 10000;
}


#controler .contentspan{
border-top: 1px solid #eee;
width: 100%;
margin: 0;
height:40px;
text-align: center;
}

.buts{	
text-decoration: none;

line-height: 0em;
padding: 20px 10px 20px 10px;
border-radius: 100%;

overflow: auto;
background: rgb(244,244,244);
box-shadow: 0px -1px 0px #eee;

}


.buts.font-icons-bef::before{
font-size: 3em;
line-height:0.3em;
position: relative;
top: 8px;
}



#audio_position{
	background: -webkit-radial-gradient(center, ellipse cover, rgba(109,0,25,0.87) 0%,rgba(256,256,256,0.27) 52%,rgba(256,256,256,0.01) 74%);
background-repeat:no-repeat;
width: 100%;
background-position: center 20px; 
text-align: center;
padding: 0px 0 20px;
color: #444;

	font-weight: 200;
	letter-spacing: 0.2em;

	position: fixed;
	bottom: 41px; top: auto;
}




#cancel {
position:absolute;
bottom:0;
right:0;
text-decoration:none;
color:#aaa;
cursor:pointer;
text-shadow:1px 1px 0 #fff;
padding:20px 5px 5px 20px;
}








.photos {position: absolute;
top: 50px!important;
	margin: 0; padding: 0;
	list-style: none outside;
}


.photos li {

	width: 32%;
	padding: 0 15px;
	box-sizing: border-box;

	height: 75%;

}

.photos img {
	max-width: 100%;
	max-height: 100%;
	padding: 0;margin: 0;
}






/*General Classes*/

#stopRecord, #takePhoto{
	display: none;
	
}




.font-icons-bef::before, .font-icons-aft::after {
content:attr(data-icon);
font-family:pictos;
line-height:0;
margin:0;
speak:none;
font-size: 2em;
}

.font-icons-bef span, .font-icons-aft span{
display: none;
}


